$highlightSpeed: 0.5s;

.stock-symbol {
  text-transform: uppercase;
}

.stocks-table {
  .col-ask,
  .col-bid,
  .col-price,
  .col-volume {
    text-align: right;
  }
}

.updated {
  -webkit-animation: highlight $highlightSpeed;
  animation: highlight $highlightSpeed;
}

@-webkit-keyframes highlight {
  75% {
    background: yellow;
  }
  100% {
    background: none;
  }
}
@keyframes highlight {
  75% {
    background: yellow;
  }
  100% {
    background: none;
  }
}
