.stock-symbol {
  text-transform: uppercase;
}

.stocks-table {
  .col-ask,
  .col-bid,
  .col-price,
  .col-volume {
    text-align: right;
  }

  td span {
    padding: 2px;
  }

  .updated {
    -webkit-animation: highlight 1s;
    animation: highlight 1s;
  }
}

@-webkit-keyframes highlight {
  0% {
    background: yellow;
  }
  50% {
    background: yellow;
  }
  100% {
    background: none;
  }
}
@keyframes highlight {
  0% {
    background: yellow;
  }
  50% {
    background: yellow;
  }
  100% {
    background: none;
  }
}
