$highlightSpeed: 0.5s;

.stock-symbol {
  text-transform: uppercase;
}

.table {
  .col-ask,
  .col-bid,
  .col-price,
  .col-volume,
  .col-remove {
    text-align: right;
  }

  th:first-child,
  td:first-child {
    padding-left: 0;
  }

  th:last-child,
  td:last-child {
    padding-right: 0;
  }
}

.last-updated {
  color: #999;
}

.updated {
  -webkit-animation: highlight $highlightSpeed;
  animation: highlight $highlightSpeed;
}

@-webkit-keyframes highlight {
  75% {
    background: yellow;
  }
  100% {
    background: none;
  }
}
@keyframes highlight {
  75% {
    background: yellow;
  }
  100% {
    background: none;
  }
}
